<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169198217513-l07tq6s8fcier33mle3idj5jlfbk6gtg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169198217513-l07tq6s8fcier33mle3idj5jlfbk6gtg</string>
	<key>API_KEY</key>
	<string>AIzaSyBmTbWMYfOGOKzZnrHJTTapxPQJ0cUxJUA</string>
	<key>GCM_SENDER_ID</key>
	<string>169198217513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jirayu.flutterCourse</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-agonist</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-agonist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169198217513:ios:31927747d463c057f6af38</string>
</dict>
</plist>